<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Saif Kayyali">
    <meta name="keywords"
        content="photonvhealth, solar panel, solar panel efficiency monitor, efficiency monitor, diy solar panel, panel monitor, renewable energy">
    <meta name="description"
        content="Welcome to PhotonVHealth for Solar Panel Efficiency Monitoring - helping you monitor dust accumulation, shading and overheating on your panel">
    <meta name="google-site-verification" content="w0hHoX0HJMNslsfWjPVZ2YiQTvdbO-sFIShpFwJhot0" />
    <link rel="canonical" href="https://photonvhealth.onrender.com/">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="PhotonVHealth">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/iconx192.png') }}">

    <meta property="og:description"
        content="Welcome to PhotonVHealth for Solar Panel Efficiency Monitoring - helping you monitor dust accumulation, shading and overheating on your panel">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://photonvhealth.onrender.com/">
    <meta property="og:image" content="{{ url_for('static', filename='images/icon.png') }}">
    <meta property="og:site_name" content="PhotonVHealth">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PhotonVHealth">
    <meta name="twitter:description"
        content="Welcome to PhotonVHealth for Solar Panel Efficiency Monitoring - helping you monitor dust accumulation, shading and overheating on your panel">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/icon.png') }}">

    <title>{% block title %} {% endblock %} - PhotonVHealth</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='images/iconx32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='images/iconx16.png') }}" sizes="16x16" type="image/png">

    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PhotonVHealth</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">

                    {% if logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/devices">Devices</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="site-footer">
        <div class="footer-left">
            <small>© {{ current_year }} PhotonVHealth</small>
        </div>

        <div class="footer-right">
            <span>Want to help improve this project?</span>
            <a href="https://github.com/Skayyali3/PhotonVHealth" target="_blank" rel="noopener noreferrer"
                class="github-link">
                <svg class="github-icon" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                        d="M12 0.3a12 12 0 00-3.8 23.4c.6.1.8-.2.8-.5v-1.9c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1.1-.7.1-.7.1-.7 1.2.1 1.8 1.2 1.8 1.2 1.1 1.8 2.9 1.3 3.6 1 .1-.8.4-1.3.7-1.6-2.6-.3-5.4-1.3-5.4-5.8 0-1.3.5-2.4 1.2-3.2-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.3 1.2a11.4 11.4 0 016 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8.1 3.1.8.8 1.2 1.9 1.2 3.2 0 4.5-2.8 5.5-5.4 5.8.4.4.8 1.1.8 2.2v3.3c0 .3.2.6.8.5A12 12 0 0012 .3z" />
                </svg>

                Contribute on GitHub
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        if (!('serviceWorker' in navigator)) {
            console.warn('Service Workers not supported in this browser.');
        }
    </script>
</body>